/**
 * @file
 *
 * Bear Starter Theme Main Styling
 *
 * Adds basic bear styles for starter theme.
 *
 */

/***********
~IMPORTS
***********/
@import "base";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Forum);
@import "compass/css3/border-radius";
@font-face { font-family: Conduit Light; src: url('../fonts/ConduitITCStd-ExtraLight.otf'); }
@font-face { font-family: Conduit Light Italic; src: url('../fonts/ConduitITCStd-ExtraLightIta.otf'); }

/***********
~GENERIC
***********/
body {
  color: $dark;
  @include m-links;
}
html, body, button, input, select, textarea {
  font-family: Conduit Light, 'Helvetica', sans-serif;
  letter-spacing: .1em;
}
h1, h2, h3, h4, h5 {
  @include bearfont-titles;
  font-weight: 400;
}
img {
  max-width: none !important;
}
#page {
  min-width: 300px;
}
#navigation ul.menu {
  li {
    text-transform: none;
    @include clear-space;
    @include m-links;
    a {
      background-color: $grey;
      padding: 7px 15px 6px 15px;
      @include bottom-border-radius;
      display: block;
      &:hover, &.active {
        color: #ffffff;
        text-decoration: underline;
        background: $greyer;
      }
      &.active, &:visited {
        text-decoration: none;
      }
    }
  }
  ul {
    z-index: 100;
    &:hover {
      display: block;
    }
    li {
     a:link, a:visited, a:hover {
      background: transparent;
      color: $blue;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
ul.primary {
  padding: 0;
  border-bottom: 1px solid #D9DBDB;
  @include breakpoint ($breakpoint-small-width) {
    border-bottom: none;
  }
  li {
    border: none;
    margin:0 5px 0 0;
    text-shadow: 0;
    a:link, a:visited, a:hover {
     text-shadow: 0;
     @include sassy-button("matte", 0, 100%, #EFF2F1, #e6e7e7, #555, "inset");
    }
    a {
      color: #333 !important;
       &.active {
        color: $blue !important;
      }
    }
  }
}
@include breakpoint ($breakpoint-small-width) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
    a {
      width: 88%;
    }
  }
}
/***********
~STRUCTURE
***********/

h1 {
  font-size: 160%;
}
.wrapper {
  &.header {
    //background-color: $greyer;
  }
  &.footer {
    background-color: transparent;
  }
}
.breadcrumb {
  margin: 20px 0;
}
/***********
~HEADER
***********/
.region-above-header {
  p {
    margin: 0;
    padding: 0;
  }
}
.region-header {
  clear: none;
}
.wrapper.header {
  #header {
    padding: 0;
    position: relative;
    #logo {
      position: relative;
      left: 50%;
      img {
        /* default fallback */
        background: rgb(255, 0, 0) transparent;
        /* nice browsers */
        background: rgba(255, 0, 0, 0.2);
        /* IE 6/7 */
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0000, endColorstr=#ff0000);
        /* IE8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff0000, endColorstr=ff0000)";
      }
    }
    #bear-user-menu {
      position: absolute;
      top: 0;
      right: 0;
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        li {
          float: left;
          list-style-type: none;
          margin: 0 0 0 10px;
          a {
            @include sassy-button("matte", 5px, 90%, #999, #888, #fff, "inset");
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}
h1#site-name {
  text-indent: -9999px;
  a:link, a:visited {
      color: #ffffff;
  }
}
#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
  @include breakpoint ($breakpoint-medium-width) {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  input.form-text {
    border: none;
    border-right: 1px solid #CCCCCC;

    width: 150px;
    &:focus {
      box-shadow: none;
      moz-box-shadow: none;
    }
  }
  input.form-submit {
    text-indent: -9999px;
    background: #FFFFFF url(../images/search.png) no-repeat center center;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    filter: none;
    padding: 5px 15px;
    width: 40px;
    height: 28px;
    text-shadow: none;
    margin: 0;
  }
}
@include breakpoint ($breakpoint-medium-width) {
  .wrapper.header #header {
    text-align: center;
    padding:0;
    #logo {

    }
    #name-and-slogan {
      float: none;
      h1 {
        margin: 10px 0;
      }
    }
  }
}

/***********
~SIDEBARS
***********/

aside.sidebars {
  margin: 30px 0 0 0;
  .sidebar {
    padding-bottom: 20px;
    h2 {
      background: $grey;
      text-indent: 10px;
      margin: 0 0 10px 0;
      font-size: 110%;
      }
    @include breakpoint ($breakpoint-large-width) {
      padding-left: auto;
    }
  }
}

/***********
~SLIDESHOW
***********/

.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius:0;
  box-shadow:0;
  margin: 0 0 50px 0;
  position: relative;
}
.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #DDDDDD;
  margin: 0;
  padding: 10px 0;
}

/***********
~FOOTER
***********/

.wrapper.footer {
  #footer {
    margin-left: auto;
    margin-right: auto;
    color: $dark;
    font-size:12px;
  }
}
ul.social-footer {
  @include reset-ul;
  li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    a {
     display: block;
     outline: none;
     text-decoration: none;
     i {
      -o-transition:.5s;
       -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      color: $dark;
      font-size: 30px;
        span {
          display: none;
        }
        &:hover {
         color: $blue;
        }
      }
    }
  }
}
@include breakpoint ($breakpoint-medium-width) {
  #footer {
    text-align: center;
  }
  ul.social-footer {
    margin-top: -10px;
    li {
     display: inline-block;
     float: none;
    }
  }
}

/***********
~HOME
***********/

#skater {
  max-width: 370px;
  position: absolute !important;
  left:150px;
  top: -100px;
  z-index: 9;
}
#block-block-1 {
  max-width: 300px;
  position: absolute;
  left: 0;
  z-index: 10;
  top: 250px;
}
#home-menu {
  margin: 35px 0 0 0;
  position: relative;
  z-index: 11;
  ul.menu {
    margin: 0;
    padding: 0;
    font-family: Conduit Light, 'Helvetica', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
    position: relative;
    left: 50%;
    width: 50%;
    li {
      margin-bottom: 10px;
      a {
        color: #ff981f;
        font-size: 120%;
        text-decoration: none;
      }
    }
  }
}
#supersized li.prevslide img, #supersized li.activeslide img {
  top: 0 !important;
}
#party {
  margin-top: 240px;
  text-transform: uppercase;
  color: #ababab;
  font-family: Conduit Light, 'Helvetica', sans-serif;
  letter-spacing: .2em;
  font-size: 110%;
  padding-left: 38px;
  background: url("../images/arrow.png") no-repeat left 2px;
}
.front .wrapper.footer {
  background: url("../images/bot-bar.png") no-repeat left top;
}
#block-block-2 {
  font-size: 110%;
  color: #ababab;
}